.App{
    overflow-x: hidden;
}
.section-2{
position: relative;
top:60px;
}
.section-3{
    position: absolute;
    top:5px;
    left:60px;
}
.section-4{
    width:1000px;
    height: 50px;
    position: absolute;
    top:3px;
    left:300px;
}
.section-5{
    background-color: whitesmoke;
    position:relative;
    top:30px;
    width:990px;
    left:300px;
    height:490px;
}